.listItem {
    padding: 10px 20px; /* Uniform padding */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -20px;
    max-width: 300px; 
}


.contactText {
    flex-grow: 1; 
    font-size: 16px;
}


.deleteButton {
    background-color: rgb(102, 99, 99);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: 15px;
}

.deleteButton:hover {
    background-color: darkred;
}
